body {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    height: 97vh;
    background-color: grey;
}

.pomodoro{
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    align-items: center;
    width: 450px;
    height: 450px;
}

.music-player{
    width: 800px;
    height: 100px;
    border: solid black;
}

#user{
    width: 200px;
    height: 40px;
}

#visual{
    background-image: url(https://site212248.tw.cs.unibo.it/img/tomato.png);
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#clock {
    font-weight: bold;
    font-size: 4em;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-shadow: 
        -2px -2px 0 grey,  
        2px -2px 0 grey,
        -2px 2px 0 grey,
        2px 2px 0 grey;
}

#in-spin{
    position: fixed;
}

#stop-t{
    display: flex;
    justify-content: center;
    align-items: center;
}
