main{
  background-color: darkgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button{
  margin: 1px;
}

@media (max-width: 600px) {
  main{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}